{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Онлайн-обучение</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: orange;
        }
        .container {
            max-width: 800px;
            margin: 50px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg bg-white" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="https://lh3.googleusercontent.com/proxy/2Zde9_4mBFCyy0iw8qZW9EzQX7rW7Cywcg_4J1kAInTUJkUEFyXCYHo3gTmnXHDR-bZ3RVkR_aVdcgVR0WqGy07wxfePQI-n0goV6grH_JXDLI9IJAOSR29PWHTHXQ" alt="" style="width: 5%">
      <a class="navbar-brand" href="#"><h2>Список курсов</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-black" aria-current="page" href="{% url 'main' %}">Дом</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Ещё
          </a>
          <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'logout' %}">Выход</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'about us' %}">О нас</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
</header>

    <div class="container">
        <h1 align="center">Добро пожаловать,{{ username }}</h1>
        <h5 align="center"><strong>Теперь вы можете использовать все функции системы онлайн-обучения!</strong></h5>
        <p align="center">Выберите интересующий вас раздел в навигационной панели сверху или выберите интересующие вас курсы снизу!</p>
    </div>

<div class="row">
    <div class="col">
        <div id="news-list" class="row">
            {% for course in courses %}
            <div class="col-md-4">
                <div class="card bg-white mb-5 mt-3 border-0 h-100 d-flex align-items-stretch text-black">
                    <img src="{{ course.image }}" class="card-img-top" alt="{{ dish.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.title }}</h5>
                        <p class="card-text">{{ course.description }}</p>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ course.start_date }}</h6>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ course.end_date }}</h6>
                        <a href="{% url 'course_detail' course.id %}" class="btn btn-primary">Подробнее</a>
        </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>